{% extends "base.html" %}

{% block title %}Analytics | RestaurantReview{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Top 3 Most Visited Restaurants</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
            <canvas id="reviewChart" height="100"></canvas>
        </div>
    </div>
</div>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Pass dynamic data to JS -->
<script>
  const chartLabels = {{ labels | tojson }};
  const chartValues = {{ values | tojson }};
</script>

<!-- External JS logic -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
