{% extends "base.html" %}

{% block title %}Home - RestaurantReview{% endblock %}

{% block content %}
    <div class="position-relative">
        <img src="{{ url_for('static', filename='images/home-food.jpg') }}" class="img-fluid banner-blur" alt="Food Banner">
      
        <div class="home-title text-center text-white position-absolute top-50 start-50 translate-middle">
            <h1 class="display-4">Welcome to RestaurantReview!</h1>
            <p class="lead">Taste it. Rate it. Share it.</p>
            <a href="{{ url_for('login') }}" class="btn btn-login">Login</a>
            <a href="{{ url_for('signup') }}" class="btn btn-register">Sign Up</a>
          </div>
    </div>

    <div class="container mt-5">
        <div class="text-center">
            <h2>What we do?</h2>
            <p class="mt-3">
                RestaurantReview is your go-to platform for discovering, rating, and sharing your dining experiences. 
                Explore a wide variety of restaurants, share your reviews, and connect with fellow foodies.
            </p>
        </div>
    </div>
{% endblock %}