{% extends "base.html" %}
 
{% block title %}Sign Up - RestaurantReview{% endblock %}
 
{% block content %}
<form id="signup-form" class="auth-form">
    <h1>Create Your Account</h1>
    <div class="input-group">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your full name" required>
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required oninvalid="this.setCustomValidity('Invalid email address')" oninput="this.setCustomValidity('')">    
    </div>
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Create a password" autocomplete="off" required>
    </div>
    <div class="input-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" autocomplete="off" required>
    </div>
    
    
    <div class ="center-container">
        <button type="submit" class="btn btn-register">Sign Up</button>
    </div>
    <div class="form-link">
        Already have an account? <a href="{{ url_for('login') }}">Login</a>
    </div>
</form>
{% endblock %}
